<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyuan.WisdomTeacherServer.mapper.ClassScheduleMapper">

    <select id="selectMySchedule" resultType="com.tianyuan.WisdomTeacherServer.bean.SchoolCourse">
        SELECT * FROM school_course s1,school_term s2 WHERE s2.star_date =#{startyear}
         AND end_date =#{endyear} AND s2.seesaw =#{semester} AND s1.teacher_id =#{teacherid}
    </select>

    <!-- 却表 占时不写-->
    <select id="classSchedule"></select>
</mapper>